<ngx-spinner name="dashboard"></ngx-spinner>
<ng-template #step01_Modal>
  <ngx-spinner name="step01"></ngx-spinner>
  <app-basic-modal #step01Modal [hideFooter]="true">
    <div class="app-modal-header modal-header">
      <h5 class="modal-title" id="modal-title-default">Paso 1: Solicitud</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissModalStep()"><span
          aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body modal-body">
      <app-expediente-encabezado #step01Form (submittedEvent)='submitModalStep($event)'></app-expediente-encabezado>
    </div>
  </app-basic-modal>
</ng-template>

<ng-template #step02_Modal>
  <ngx-spinner name="step02"></ngx-spinner>
  <app-basic-modal #step02Modal [hideFooter]="true">
    <div class="app-modal-header modal-header">
      <h5 class="modal-title">Paso 2: Persona</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="dismissModalStep()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body modal-body">
      <app-expediente-persona #step02Form [id_expediente_persona]="id_expediente_persona"
        (submittedEvent)='submitModalStep($event)'></app-expediente-persona>
    </div>
  </app-basic-modal>
</ng-template>

<ng-template #step03_Modal>
  <ngx-spinner name="step03"></ngx-spinner>
  <app-basic-modal #step03Modal [hideFooter]="true">
    <div class="app-modal-header modal-header">
      <h5 class="modal-title">Paso 3: Hechos</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="dismissModalStep()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body modal-body">
      <app-expediente-hecho #step03Form [id_expediente_hecho]="id_expediente_hecho"
        (submittedEvent)='submitModalStep($event)'></app-expediente-hecho>
    </div>
  </app-basic-modal>
</ng-template>

<ng-template #step04_Modal>
  <ngx-spinner name="step04"></ngx-spinner>
  <app-basic-modal #step04Modal [hideFooter]="true">
    <div class="app-modal-header modal-header">
      <h5 class="modal-title">Paso 4: Clasificación del Derecho</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="dismissModalStep()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body modal-body">
      <app-expediente-clasificacion #step04Form [id_expediente_hecho]="id_expediente_hecho"
        (submittedEvent)='submitModalStep($event)'></app-expediente-clasificacion>
    </div>
  </app-basic-modal>
</ng-template>

<ng-template #step05_Modal>
  <ngx-spinner name="step05"></ngx-spinner>
  <app-basic-modal #step05Modal [hideFooter]="true">
    <div class="app-modal-header modal-header">
      <h5 class="modal-title">Paso 5: Documentos</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="dismissModalStep()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body modal-body">
      <app-expediente-documento #step05Form [id_expediente_documento]="id_expediente_documento"
        (submittedEvent)='submitModalStep($event)'></app-expediente-documento>
    </div>
  </app-basic-modal>
</ng-template>

<div class="row">
  <div class="col-sm-12">
    <div class="form-row">
      <div class="col-md-4 mb-4">
        <button type="button" class="btn btn-outline-primary btn-mini" (click)="openModal(addcomment , 0);" >Comentarios <i> ({{ contComment}})</i>
        </button>
      </div>

      <div class="col-md-4 mb-4"></div>

      <div class="col-md-4 mb-4" style="display: flex; justify-content: flex-end">
        <button type="button" class="btn btn-outline-primary btn-mini" (click)="UpdateStateExpe(2);"  *ngIf="this.id_estado === 1" >Enviar a revisar</button>
        <button type="button" class="btn btn-outline-primary btn-mini" (click)="UpdateStateExpe(3);"  *ngIf="this.id_estado === 2">Confirmar Estado</button>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Paso 1: Solicitud</h5>
      </div>
      <div class="card-body">
        <p class="card-text">No: &nbsp;&nbsp;{{solicitud?.correlativo}}</p>
        <p class="card-text">Prioridad: &nbsp;&nbsp;{{solicitud?.nombre_prioridad}}</p>
        <p class="card-text">Fecha: &nbsp;&nbsp;{{solicitud?.fecha_ingreso | date:'mediumDate'}}</p>
        <p class="card-text">Via: &nbsp;&nbsp;{{solicitud?.nombre_via}}</p>
        <p class="card-text">Auxiliatura: &nbsp;&nbsp;{{solicitud?.nombre_auxiliatura}}</p>
        <p class="card-text">Resultado: &nbsp;&nbsp;{{solicitud?.nombre_resultado}}</p>
        <p class="card-text">Oficial: &nbsp;&nbsp;{{solicitud?.nombre_funcionario}}</p>
      </div>
      <div class="card-footer text-center">
        <div class="row align-items-center">
          <div class="col">
            <a href="javascript:" class="btn btn-sm btn-primary" (click)="showModalStep(step01_Modal)">Editar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card" blockClass="table-border-style">
      <div class="card-header">
        <h5 class="card-title">Paso 2: Personas</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Acción</th>
                <th>Tipo Sujeto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of solicitudPersonas; index as idx">
                <td scope="row">
                  <button type="button" class="btn btn-outline-primary btn-mini btn-icon-round"
                    (click)="showModalStep(step02_Modal); goEditExpedientePerson(persona);">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td class="wrapping-cell">
                  {{ persona?.nombre_tipos_vinculacion }}
                </td>
                <td>{{ persona?.nombres_completos}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="card-footer text-center">
        <a href="javascript:" class="btn btn-sm btn-primary"
          (click)="showModalStep(step02_Modal); id_expediente_persona=0;">Agregar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Paso 3: Hechos</h5>
      </div>
      <div class="card-body">
        <carousel [noWrap]="false" [interval]="10000">
          <slide *ngFor="let hecho of solicitudHechos; let idx = index;">
            <p class="card-text">Hechos: {{ hecho.hecho }}</p>
            <p class="card-text">Petición: {{ hecho.peticion }}</p>
          </slide>
        </carousel>
      </div>
      <div class="card-footer text-center">
        <div class="row align-items-center">
          <div class="col">
            <a href="javascript:" class="btn btn-sm btn-primary" (click)="showModalStep(step03_Modal);">Editar</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="col-xl-12">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Paso 4: Calificación de derechos</h5>
      </div>
      <div class="card-body">

        <table class="table  table-striped" id="TableclasExpediente">
          <thead>
            <tr>
              <th>Tipo de derecho</th>
              <th>Hechos Violatorios</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clasifi of listClasExpe">
              <td>{{clasifi.nombre_clasificacion_derecho_P }}</td>
              <td>{{clasifi.nombre_clasificacion_derecho_H}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="card-footer text-center">
        <div class="row align-items-center">
          <div class="col">
            <a href="javascript:" class="btn btn-sm btn-primary" (click)="showModalStep(step04_Modal);">Editar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Paso 5: Documentos</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Acción</th>
                <th>Titulo</th>
                <th>Creado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let documento of solicitudDocumentos; index as idx">
                <td scope="row">
                  <button type="button" class="btn btn-outline-primary btn-mini btn-icon-round"
                    (click)="showModalStep(step05_Modal); goEditExpedienteDocumento(documento);">
                    <i class="icofont icofont-ui-edit"></i>
                  </button>
                </td>
                <td>{{ documento?.titulo }}</td>
                <td>{{ documento?.created_at | date:'medium' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-center">
        <div class="row align-items-center">
          <div class="col">
            <a href="javascript:" class="btn btn-sm btn-primary" (click)="showModalStep(step05_Modal); id_expediente_documento=null;">Agregar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #addcomment>
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Comentarios</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="formcomentarios" (ngSubmit)="SaveComment()">
        <div class="form-row">
          <div class="col mb-12">
            <input-label [label]="'Comentario'" [id]="'txtObservaciones'"></input-label>
            <textarea type="text" class="form-control" id="comentario" formControlName="comentario" rows="3"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="col mb-12" style="text-align: center">
              <a href="javascript:" class="btn btn-sm btn-primary" (click)="SaveComment()">Guardar</a>
          </div>
        </div>


        <div class="form-row">
          <div class="col mb-12">
            <table class="table  table-striped" id="tblComentarios" >
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Usuario</th>
                  <th>Comentario</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of listComment">
                  <td>{{list.fecha | date:'medium' }} </td>
                  <td>{{list.username_created_by}}</td>
                  <td>{{list.comentario}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </div>
</ng-template>
