<form action="javascript:" class="needs-validation" novalidate [formGroup]="formHecho" (ngSubmit)="onSubmit()" autocomplete="off" >

  <ng-container formArrayName="hechos">
    <div *ngFor="let hecho of formHecho.get('hechos')['controls'];index as idx">
      <ng-container [formGroupName]="idx">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <input-label [label]="'Fecha y hora'" [id]="'txtFechaHora'"></input-label>
            <input type="text" class="form-control" id="txtFechaHora" formControlName="fecha_hora" placeholder="Fecha" bsDatepicker container=""
              [ngClass]="displayValidation(hecho.get('fecha_hora').invalid)" [bsConfig]="{ adaptivePosition: true }">
            <!-- <input type="datetime-local" class="form-control" id="txtFechaHora" formControlName="fecha_hora" placeholder="" [ngClass]="displayValidation(hecho.get('fecha_hora').invalid)"> -->
              <div [ngClass]="displayValidationMsg(hecho.get('fecha_hora').valid)">
              <div *ngIf="hecho.get('fecha_hora').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('fecha_hora').errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [requires]="false" [label]="'Tipo área'" [id]="'txtTipoAreaLugar'"></input-label>
            <ng-select [items]="listTipoAreaLugar" #select bindLabel="nombre" dropdownPosition="auto" bindValue="id_tipo_area_lugar" labelForId="txtTipoAreaLugar"
              placeholder="Seleccionar" [virtualScroll]="true" formControlName="id_tipo_area_lugar" [ngClass]="displayValidation(hecho.get('id_tipo_area_lugar').invalid)">
            </ng-select>
              <div [ngClass]="displayValidationMsg(hecho.get('id_tipo_area_lugar').valid)">
              <div *ngIf="hecho.get('id_tipo_area_lugar').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('id_tipo_area_lugar').errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <input-label [requires]="false" [label]="'Departamento'" [id]="'txtDepartamento'"></input-label>
            <ng-select id="txtDepartamento" [items]="listDepartamento" #select bindLabel="nombre" dropdownPosition="auto"
              bindValue="id_departamento" labelForId="txtDepartamento" placeholder="Seleccionar o buscar" [virtualScroll]="true"
              formControlName="id_departamento" (blur)="selectedDepartamento($event)" [ngClass]="displayValidation(hecho.get('id_departamento').invalid)" >
            </ng-select>
            <div [ngClass]="displayValidationMsg(hecho.get('id_departamento').valid)">
              <div *ngIf="hecho.get('id_departamento').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('id_departamento').errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [requires]="false" [label]="'Municipio'" [id]="'txtMunicipio'"></input-label>
            <ng-select [items]="listDepartamentoMunicipio" #select bindLabel="nombre" dropdownPosition="auto" bindValue="id_municipio" labelForId="txtMunicipio"
              placeholder="Seleccionar o buscar" [virtualScroll]="true" formControlName="id_municipio" [ngClass]="displayValidation(hecho.get('id_municipio').invalid)">
            </ng-select>
            <div [ngClass]="displayValidationMsg(hecho.get('id_municipio').valid)">
              <div *ngIf="hecho.get('id_municipio').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('id_municipio').errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3">
            <input-label [label]="'Dirección'" [id]="'txtDireccion'"></input-label>
            <input type="text" class="form-control" id="txtDireccion" formControlName="direccion" [ngClass]="displayValidation(hecho.get('direccion').invalid)">
            <div [ngClass]="displayValidationMsg(hecho.get('direccion').valid)">
              <div *ngIf="hecho.get('direccion').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('direccion').errors?.pattern">Solo se acepta texto sin caracteres especiales</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3">
            <input-label [label]="'Hecho'" [id]="'txtHecho'"></input-label>
            <textarea class="form-control" id="txtHecho" rows="3" formControlName="hecho" [ngClass]="displayValidation(hecho.get('hecho').invalid)"></textarea>
            <div [ngClass]="displayValidationMsg(hecho.get('hecho').valid)">
              <div *ngIf="hecho.get('hecho').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('hecho').errors?.pattern">Solo se acepta texto sin caracteres especiales</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3">
            <input-label [label]="'Petición'" [id]="'txtPeticion'"></input-label>
            <textarea class="form-control" id="txtPeticion" rows="3" formControlName="peticion" [ngClass]="displayValidation(hecho.get('peticion').invalid)"></textarea>
            <div [ngClass]="displayValidationMsg(hecho.get('peticion').valid)">
              <div *ngIf="hecho.get('peticion').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('peticion').errors?.pattern">Solo se acepta texto sin caracteres especiales</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <input-label [label]="'Prueba'" [id]="'txtPrueba'"></input-label>
            <textarea class="form-control" id="txtPrueba" rows="3" formControlName="prueba" [ngClass]="displayValidation(hecho.get('prueba').invalid)"></textarea>
            <div [ngClass]="displayValidationMsg(hecho.get('prueba').valid)">
              <div *ngIf="hecho.get('prueba').errors?.required">El campo es requerido</div>
              <div *ngIf="hecho.get('prueba').errors?.pattern">Solo se acepta texto sin caracteres especiales</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [label]="'Adjuntar pruebas'" [id]="'txtArchivoAdjunto'"></input-label>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple (onFileSelected)="onFileSelected($event)" />
            <div>
              Progreso de la cola:
              <progressbar [value]="uploader.progress" [striped]="true">{{uploader.progress + '%'}}</progressbar>
            </div>
            <button type="button" class="btn btn-success btn-sm" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
              <span class="icofont icofont-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-sm" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="icofont icofont-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="icofont icofont-trash"></span> Remove all
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col text-center">
            <button class="btn btn-primary" type="submit" id="btnSave"><i class="fa fa-save"></i>Guardar</button>
          </div>
          <div class="col"></div>
        </div>
        <div class="form-row">
          <div class="container table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.options.isHTML5">
                    <progressbar [value]="item.progress">{{item.progress + '%'}}</progressbar>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="icofont icofont-check-circled"></i></span>
                    <span *ngIf="item.isCancel"><i class="icofont icofont-close-circled"></i></span>
                    <span *ngIf="item.isError"><i class="icofont icofont-exclamation-circle"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-sm" (click)="item.upload()"
                      [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="icofont icofont-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="icofont icofont-ban"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                      <span class="icofont icofont-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</form>
