<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false">
      <form action="javascript:" class="needs-validation" novalidate [formGroup]="MonitorVisitas"
        (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- PRIMER FILA -->
        <div class="form-row" >
          <div class="col-md-12 mb-12">
              <p><strong> Monitoreo de {{ titulo }}  </strong></p>
          </div>
        </div>
        <!-- / PRIMER FILA -->


        <!-- SEGUNDA FILA -->
        <div class="form-row">
          <div class="col-md-3 mb-3" *ngIf="ChangeAux">
            <label for="validationCustom03">Auxiliatura:</label>
            <ng-select (change)="getListVisit()" id="id_auxiliatura" [items]="listAuxiliary" #select bindLabel="nombre"
              dropdownPosition="auto" bindValue="id_auxiliatura" labelForId="nombre"
              placeholder="Seleccionar Auxiliatura" [virtualScroll]="true" formControlName="id_auxiliatura">
            </ng-select>
          </div>

          <div class="col-md-3 mb-3" *ngIf="false">
            <label for="validationCustom03">Motivo de la visita:</label>
            <ng-select (change)="getListVisit()" id="id_motivo" [items]="listReason" #select bindLabel="nombre"
              dropdownPosition="auto" bindValue="id_motivo" labelForId="nombre" placeholder="Seleccionar Razón"
              [virtualScroll]="true" formControlName="id_motivo">
            </ng-select>


          </div>
        </div>
        <!-- / SEGUNDA FILA -->

        <!-- TERCER FILA -->
        <div class="form-row" *ngIf="MostrarDiv">
          <div class="col-md-12 mb-12">
            <table class="table  table-striped" id="listMonitor">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Prioridad</th>
                  <th>Motivo Visita</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Edad</th>
                  <th>Teléfono</th>
                  <th *ngIf="tipo === 2">visita</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of listVisit">
                  <td>{{visit.entrada | date:'medium' }}</td>
                  <td>{{visit.nombre_prioridad}}</td>
                  <td>{{visit.nombre_motivo}}</td>
                  <td>{{visit.nombres}}</td>
                  <td>{{visit.apellidos}}</td>
                  <td>{{visit.edad}}</td>
                  <td>{{visit.telefono}}</td>
                  <td *ngIf="tipo === 2">{{visit.nombres_funcionario || visit.apellidos_funcionario }}</td>
                  <td>
                    <button class="btn btn-primary btn-icon"  title="Atender usuario" (click)="markExit(visit, 2)"><i
                        class="icofont icofont-gears"></i></button>

                    <button class="btn btn-warning btn-icon" title="Editar" (click)="GoEdit(visit)"><i
                        class="icofont icofont-ui-edit"></i></button>

                        <button class="btn btn-danger btn-icon" title="Dar salida al usuario" (click)="markExit(visit , 3)"><i
                          class="icofont icofont-location-arrow"></i></button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / TERCER FILA -->
      </form>
    </app-card>
  </div>
</div>
