<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Información General'">
      <form action="javascript:" class="needs-validation" novalidate [formGroup]="visitaForm" (ngSubmit)="onSubmit()" autocomplete="off" >
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <input-label [requires]="true" [label]="'CUI'" [id]="'txtCUI'"></input-label>
            <div class="input-group">
              <input type="hidden" class="form-control" id="txtIdPersona" formControlName="id_persona" >
              <input type="text" class="form-control" id="txtCUI" formControlName="cui" placeholder="Completo"
                aria-describedby="inputGroupPrepend"
                [ngClass]="{ 'is-invalid': (f.cui.dirty || f.cui.touched || submitted)  && f.cui.errors }" required>
              <button class="btn btn-sm btn-outline-primary" type="button" id="btnBuscarByCUI" (click)="searchPersona(f.cui.value)">Buscar</button>
              <div *ngIf="isHasErrors('cui')" class="invalid-feedback">
                <div *ngIf="f.cui.errors?.required">El CUI es requerido</div>
                <div *ngIf="f.cui.errors?.pattern">Digite solo los numeros de un CUI valido</div>
                <div *ngIf="f.cui.errors?.minlength">Digite un CUI valido minimo 12 digitos</div>
                <div *ngIf="f.cui.errors?.maxlength">Digite un CUI valido maximo 15 digitos</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-4 mb-3">
            <h4>Hora Entrada:
              <span id="txtEntrada" *ngIf="isAddMode === true" ><inline-clock [format]="'hh:mm:ss a'"></inline-clock></span>
              <span id="txtEntrada" *ngIf="isAddMode === false" >{{f.entrada.value | date:'h:mm a'}}</span>
            </h4>
            <div *ngIf="isAddMode === false">
              <h4>Hora Salida: <span id="txtSalida"></span><inline-clock [format]="'hh:mm:ss a'"></inline-clock></h4>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input-label [requires]="true" [label]="'Nombres'" [id]="'txtNombres'"></input-label>
            <input type="text" class="form-control" id="txtNombres" formControlName="nombres" placeholder="Completos"
              [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }"
              required>
            <div *ngIf="isHasErrors('nombres')" class="invalid-feedback">
              <div *ngIf="f.nombres.errors?.required">Los nombres son requeridos</div>
              <div *ngIf="f.nombres.errors?.minlength">El nombre es demasiado corto</div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <input-label [requires]="true" [label]="'Apellidos'" [id]="'txtApellidos'"></input-label>
            <input type="text" class="form-control" id="txtApellidos" formControlName="apellidos"
              placeholder="Completos" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"
              required>
            <div *ngIf="isHasErrors('apellidos')" class="invalid-feedback">
              <div *ngIf="f.apellidos.errors?.required">Los apellidos son requeridos</div>
              <div *ngIf="f.nombres.errors?.minlength">El apellido es demasiado corto</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <input-label [label]="'Teléfono'" [id]="'txtTelefono'"></input-label>
            <input type="text" class="form-control" id="txtTelefono" formControlName="telefono" placeholder=""
              [ngClass]="displayErrorsCss('telefono')">
            <div *ngIf="isHasErrors('telefono')" class="invalid-feedback">
              <div *ngIf="f.telefono.errors?.pattern">El telefono solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input-label [label]="'Fecha Nacimiento'" [id]="'txtFechaNacimiento'"></input-label>
            <input type="date" class="form-control" id="txtFechaNacimiento" formControlName="fecha_nacimiento"
              placeholder="" (blur)="calculateAge(f.fecha_nacimiento.value)">
            <div *ngIf="isHasErrors('fecha_nacimiento')" class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <input-label [label]="'Edad'" [id]="'txtEdad'"></input-label>
            <input type="number" class="form-control" id="txtEdad" formControlName="edad" placeholder=""
              [ngClass]="displayErrorsCss('edad')" >
            <div *ngIf="isHasErrors('edad')" class="invalid-feedback">
              Please provide a valid edad.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [requires]="true" [label]="'Sexo'" [id]="'txtSexo'"></input-label>
            <select class="form-control" id="txtSexo" formControlName="id_sexo"
              [ngClass]="displayErrorsCss('id_sexo')" required>
              <option *ngFor="let sexo of listSex" value="{{sexo.id_sexo}}">{{sexo.nombre}}</option>
            </select>
            <div *ngIf="isHasErrors('id_sexo')" class="invalid-feedback">Seleccione un valor</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <input-label [requires]="false" [label]="'Genero'" [id]="'txtGenero'"></input-label>
            <select class="form-control" id="txtGenero" formControlName="id_genero"
              [ngClass]="displayErrorsCss('id_genero')" required>
              <option *ngFor="let genre of listGenre" value="{{genre.id_genero}}">{{genre.nombre}}</option>
            </select>
            <div *ngIf="isHasErrors('id_genero')" class="invalid-feedback">Seleccione un valor</div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [requires]="true" [label]="'Prioridad'" [id]="'txtPrioridad'"></input-label>
            <select class="form-control" id="txtPrioridad" formControlName="id_prioridad"
              [ngClass]="displayErrorsCss('id_prioridad')" required>
              <option *ngFor="let prioridad of listPriority" value="{{prioridad.id_prioridad}}">{{prioridad.nombre}}</option>
            </select>
            <div *ngIf="isHasErrors('id_prioridad')" class="invalid-feedback">Seleccione un valor</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <input-label [requires]="true" [label]="'Motivo de la visita'" [id]="'txtMotivo'"></input-label>
            <ng-select [items]="listReason" #select bindLabel="nombre" dropdownPosition="auto" bindValue="id_motivo" labelForId="txtMotivo"
              placeholder="Seleccionar motivo" [virtualScroll]="true" formControlName="id_motivo" [ngClass]="displayErrorsCss('id_motivo')">
            </ng-select>
            <div *ngIf="isHasErrors('id_motivo')" class="invalid-feedback">
              <div *ngIf="f.id_motivo.errors?.required">El campo es requerido</div>
              <div *ngIf="f.id_motivo.errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <input-label [requires]="true" [label]="'Visita a unidad'" [id]="'txtDependencia'"></input-label>
            <ng-select id="txtDependencia" [items]="listDependency" #select bindLabel="nombre" dropdownPosition="auto"
              bindValue="id_dependencia" labelForId="txtDependencia" placeholder="Seleccionar a unidad" [virtualScroll]="true"
              formControlName="id_dependencia" [ngClass]="displayErrorsCss('id_dependencia')" (blur)="selectedDependency()" >
            </ng-select>
            <div *ngIf="isHasErrors('id_dependencia')" class="invalid-feedback">
              <div *ngIf="f.id_dependencia.errors?.required">El campo es requerido</div>
              <div *ngIf="f.id_dependencia.errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input-label [requires]="false" [label]="'Visita a'" [id]="'txtEmpleado'"></input-label>
            <ng-select [items]="listDependencyEmployees" #select bindLabel="nombres_completos" dropdownPosition="auto" bindValue="id_funcionario" labelForId="txtEmpleado"
              placeholder="Seleccionar empleado" [virtualScroll]="true" formControlName="id_funcionario" [ngClass]="displayErrorsCss('id_funcionario')">
            </ng-select>

            <div *ngIf="isHasErrors('id_funcionario')" class="invalid-feedback">
              <div *ngIf="f.id_funcionario.errors?.required">El campo es requerido</div>
              <div *ngIf="f.id_funcionario.errors?.pattern">Solo se aceptan digitos</div>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <input-label [label]="'Llamadas'" [id]="'txtLlamadas'"></input-label>
            <input type="number" class="form-control" id="txtLlamadas" formControlName="llamadas" placeholder=""
              [ngClass]="displayErrorsCss('llamadas')">
            <div *ngIf="isHasErrors('llamadas')" class="invalid-feedback">
              <div *ngIf="f.llamadas.errors?.pattern">El numero de llamadas solo se aceptan digitos</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-outline-success" (click)="onNew()"><i class="fa fa-plus"></i>Nuevo</button>
          </div>
          <div *ngIf="isAddMode === true" class="col text-center">
            <button class="btn btn-primary" type="submit" id="btnSavePrint"><i class="fa fa-save"></i>Guardar e imprimir</button>
          </div>
          <div *ngIf="isAddMode === false" class="col text-center">
            <button class="btn btn-primary" type="submit" id="btnSavePrint"><i class="fa fa-save"></i>Guardar</button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </app-card>

  </div>
</div>
