<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Información General'">
      <form action="javascript:" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">CUI</label>
            <div class="input-group">
              <input type="text" class="form-control" id="validationCustomUsername" placeholder="Completo" aria-describedby="inputGroupPrepend" required>
              <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Nombres:</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Completos" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom04">Apellidos:</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="Completos" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Teléfono:</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="" >
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="validationCustom04" placeholder="">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom05">Edad</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="">
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="exampleFormControlSelect1">Sexo</label>
            <select class="form-control" id="exampleFormControlSelect1" required>
              <option value="">Open this select menu</option>
              <option value="1">Hombre</option>
              <option value="2">Mujer</option>
              <option value="3">No definido</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Motivo de la visita:</label>
            <select class="form-control" id="exampleFormControlSelect1" placeholder="Open" required>
              <option value="1">Hombre</option>
              <option value="2">Mujer</option>
              <option value="3">No definido</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Visita a unidad</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="">
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom05">Visita a</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="">
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="exampleFormControlSelect1">Llamadas</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="">
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Guardar e Imprimir</button>
      </form>
    </app-card>

  </div>
</div>
