body {
    font-size: 18px;
}

.maintance {
    background-color: #ffffff;
    height: 70vh;
    width: 100%;
}

.buttons {
    height: 200px;
}

.button-separate {
    margin-top: 10px;
    margin-left: 10px;
}
.container-table {
    margin-top: 100px;
}

.size {
    width: 100px;
    justify-content: center;
}

.container-list {
    min-width: 50vh;
    max-height: auto;
}
