<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">2021</span>
        <h4>1000</h4>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Denuncias trabajadas
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-warning-alt bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Mi dependencia</span>
        <h4>1000</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-calendar m-r-10"></i>Denuncias por dependencia
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
</div>
